#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ vm.controlplane1.name }}
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
    username: {{ vm.controlplane1.user }}
  ssh:
    install-server: yes
    authorized-keys:
    allow-pw: no

  network:
    version: 2
    ethernets:
      ens32:
        dhcp4: no
        addresses: [{{ vm.controlplane1.ipaddr }}/24]
        gateway4: {{ dhcp.router }}
        nameservers:
          addresses: [{{ dns.forwarder1 }},{{ dns.forwarder2 }}]

  late-commands:
    - echo '{{ vm.controlplane1.user }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/{{ vm.controlplane1.user }}